/* History */

.history p {
    font-size: 24px;
    line-height: 72px;
    letter-spacing: 1px;
    font-weight: 100;
}

.history h1 {
    margin-bottom: 50px;
}

.history {
    background-image: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("../assets/images/wallpapers/wallpaper-history.png");
    background-position: center;
    background-size: cover;
    min-height: 1754px;

    display: flex;
    justify-content: center;  
    align-items: center;      
}

.history div {
    margin-top: 100px;
    text-align: center;
}

.history img {
    display: block;
    margin: 20px auto; 
    padding: 50px;
}