.our-standard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 160px 20px; 
}

.our-standard h1 {
    margin: 90px 0 50px 0; 
    letter-spacing: 5px;
}


.our-standard p {
    margin: 0 0 60px 0; 
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: center;
}

.our-standard p strong {
    font-weight: 500;
}

.our-standard-certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; 
    flex-wrap: wrap;
}

.our-standard-certificate img {
    height: 150px; 
    width: auto;
    object-fit: contain;
}

.our-st-baner {
    text-align: center;
    padding: 130px 0 130px 0;
}

.our-st-baner .ibmthai {
    margin-bottom: 30px;
    font-weight: 500;
}

.our-structure {
    display: flex;
    width: 100%; 
    background-color: #F9F6F0;
    overflow: hidden;
}

.our-structure > img {
    width: 41.5%; 
    height: 900px; 
    object-fit: cover; 
}

.our-bx {
    display: flex;
    flex-direction: column;
    width: 58.5%;
}

.our-bx-child {
    display: flex;
    height: 300px; 
    width: 100%;
}

.our-bx-child img,
.our-bx-children {
    width: 50%; 
    height: 300px;
}

.our-bx-child img {
    object-fit: cover;
}

.our-bx-children {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 40px 5%; 
    box-sizing: border-box; 
    background-color: #F9F6F0; 
}

.our-bx-child h2 {
    font-weight: 500;
    margin-bottom: 7px;
}

.our-interview {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.our-interview-child {
    display: flex;
    width: 100%;
    height: 42vw; 
    max-height: 600px; 
    min-height: 450px; 
}

.our-interview-children {
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 30px; 
    box-sizing: border-box;
}

.our-interview-children h1,
.our-interview-children p {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.our-interview-children h1 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 40px;
}

.our-interview-children img {
    max-width: 264px; 
    width: 100%;
    height: auto;
    object-fit: contain; 
    margin-bottom: 25px; 
}

.our-interview-child > img {
    width: 50%; 
    height: 100%;
    object-fit: cover;
    object-position: 50% 65%;
}

.jp-exclusive {
    width: 100%;
    padding: 130px 5%; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 120px; 
}

.jp-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
}

.jp-top > div {
    flex: 1;
}

.jp-bottom {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    gap: 60px; 
}

.jp-ex-image-bx {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

.jp-bottom .jp-ex-image-bx:first-of-type img {
    width: 282px;
    height: 240px; 
    object-fit: contain;
}

.jp-bottom .jp-ex-image-bx:last-of-type img {
    width: 410px;
    height: 240px; 
    object-fit: contain;
}

.jp-bottom svg {
    flex-shrink: 0;
    margin: 0 0 0 70px;
}

.jp-bottom img:first-of-type {
    width: 282px;
    height: 170px;
    object-fit: contain;
}

.jp-bottom img:last-of-type {
    width: 410.15px;
    height: 233.13px;
    object-fit: contain;
}

.jp-top h1{
    font-weight: 500;
}