/* Taste */

.taste {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 0 120px 10%;
    overflow: hidden;
}

.taste div {
    width: 100%;
    max-width: 580px;
    padding-right: 40px;
    flex-shrink: 0;
}

.taste h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 70px;
    line-height: 1.3;
    color: #ffffff;
}

.taste h1 .times-new-roman {
    font-size: 60px;
    display: inline-block;
    margin-top: 5px;
}

.taste img {
    width: 55%;
    min-width: 850px;
    height: 500px;
    object-fit: cover;
    object-position: left center;
    margin-right: -15%;
    flex-shrink: 0;
}