/* Why */

.why {
    background-image: 
        linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
        url("../assets/images/wallpapers/wallpaper-why.webp");
    text-align: center;
    background-position: center 75%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why div {
    margin-bottom: 120px; 
    width: 100%;
    max-width: 1000px; 
    padding: 0 20px;
}

.why h1 {
    margin-bottom: 25px; 
}

.why .mr-dafoe {
    margin-left: 10px; 
}

.why p {
    margin: 0 auto 50px auto; 
}