/* World Class */

.world-class {
    background-color: white;
}

.world-class-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px; 
    margin: 0 auto;
    padding: 100px 100px;
    gap: 80px; 
}

.world-class-content h1 {
    font-size: 64px;
    font-weight: 100;
    margin-bottom: 15px;
}

.world-class-content p {
    color: #888888; 
    font-size: medium;
}

.world-class-certificate {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 40px; 
}

.world-class-certificate img {
    width: 120px; 
    height: auto;
    object-fit: contain;
    flex-shrink: 0; 
}